body
{
color: red;
background: lightcyan;
}
.heading
{
    width: 80%;
    font-size: 22px;
}
.name_of_objects, #result_object_name, #result_object_accuracy
{
    color: green;
}
#camera
{
    border: 2px dashed orangered;
    width: 350px;
    height: 300px;
    border-bottom-style: dotted rgb(111, 0, 255);
}
